@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: grid;
  grid-template-areas:
    'app-bar app-bar'
    'side-bar main';
  grid-template-rows: 104px 1fr;
  grid-template-columns: 350px 1fr;
}

.app-bar {
  grid-area: app-bar;
}

.side-bar {
  grid-area: side-bar;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@layer base {
  @import '../assets/fonts/Pretendard/pretendardvariable.css';
}

@layer components {
  /* Typography System */
  .text-display-1 {
    @apply text-[40px] font-bold leading-[52px] tracking-[-0.6px];
  }
  .text-display-2 {
    @apply text-[36px] font-bold leading-[46px] tracking-[-0.6px];
  }
  .text-display-3 {
    @apply text-[32px] font-bold leading-[42px] tracking-[-0.6px];
  }
  .text-display-4 {
    @apply text-[28px] font-bold leading-[38px] tracking-[-0.6px];
  }
  .text-display-5 {
    @apply text-[24px] font-bold leading-[34px] tracking-[-0.6px];
  }
  .text-headline {
    @apply text-[20px] font-bold leading-[28px] tracking-[-0.6px];
  }
  .text-subhead-1 {
    @apply text-[16px] font-bold leading-[22px] tracking-[-0.6px];
  }
  .text-subhead-long-1 {
    @apply text-[16px] font-bold leading-[28px] tracking-[-0.6px];
  }
  .text-subhead-2 {
    @apply text-[14px] font-bold leading-[20px] tracking-[-0.6px];
  }
  .text-subhead-long-2 {
    @apply text-[14px] font-bold leading-[24px] tracking-[-0.6px];
  }
  .text-subhead-3 {
    @apply text-[12px] font-bold leading-[18px] tracking-[-0.6px];
  }
  .text-body-1 {
    @apply text-[16px] font-normal leading-[20px] tracking-[-0.6px];
  }
  .text-body-long-1 {
    @apply text-[16px] font-normal leading-[28px] tracking-[-0.6px];
  }
  .text-body-2 {
    @apply text-[14px] font-normal leading-[20px] tracking-[-0.6px];
  }
  .text-body-long-2 {
    @apply text-[14px] font-normal leading-[24px] tracking-[-0.6px];
  }
  .text-caption {
    @apply text-[12px] font-normal leading-[18px] tracking-[-0.6px];
  }

  /* Button UI */
  .btn {
    @apply w-full flex flex-row justify-center items-center transition-colors duration-200 ease-in-out;
  }
  .btn-large {
    @apply h-[60px] px-[24px] py-[4px] rounded-[8px] gap-[8px] text-headline;
  }
  .btn-medium {
    @apply h-[48px] px-[16px] py-[4px] rounded-[8px] gap-[8px] text-subhead-1;
  }
  .btn-small {
    @apply w-fit h-[32px] px-[16px] py-[4px] rounded-[4px] gap-[4px] text-subhead-2;
  }
  .btn-primary {
    @apply bg-blue-primary text-white;
  }
  .btn-primary:hover {
    @apply bg-blue-primary-dark;
  }
  .btn-secondary {
    @apply bg-black-200 text-black;
  }
  .btn-secondary:hover {
    @apply bg-black-300;
  }
  .btn:disabled {
    @apply bg-black-400 text-black-500;
  }

  /* Chip UI */
  .chip {
    @apply w-fit h-[24px] rounded-[8px] px-[12px] py-[4px] text-subhead-3;
  }

  /* Layout */
  .page-container {
    @apply w-full h-full p-16 ps-6 flex flex-col;
    grid-area: main;
  }
}
